

/*Fonts*/
@font-face {
	font-family:"Exo";
	src:url("../fonts/Exo-Light.eot");
	src:url("../fonts/Exo-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Exo-Light.woff2") format("woff2"),
		url("../fonts/Exo-Light.woff") format("woff"),
		url("../fonts/Exo-Light.ttf") format("truetype"),
		url("../fonts/Exo-Light.svg#Exo-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
 }
 
 @font-face {
	font-family:"Exo";
	src:url("../fonts/Exo-Regular.eot");
	src:url("../fonts/Exo-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Exo-Regular.woff2") format("woff2"),
		url("../fonts/Exo-Regular.woff") format("woff"),
		url("../fonts/Exo-Regular.ttf") format("truetype"),
		url("../fonts/Exo-Regular.svg#Exo-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
	font-family:"Exo";
	src:url("../fonts/Exo-Medium.eot");
	src:url("../fonts/Exo-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Exo-Medium.woff2") format("woff2"),
		url("../fonts/Exo-Medium.woff") format("woff"),
		url("../fonts/Exo-Medium.ttf") format("truetype"),
		url("../fonts/Exo-Medium.svg#Exo-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-MediumItalic.eot');
    src: url('../fonts/Exo-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Exo-MediumItalic.woff2') format('woff2'),
        url('../fonts/Exo-MediumItalic.woff') format('woff'),
        url('../fonts/Exo-MediumItalic.ttf') format('truetype'),
        url('../fonts/Exo-MediumItalic.svg#Exo-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
 @font-face {
	font-family:"Exo";
	src:url("../fonts/Exo-SemiBold.eot");
	src:url("../fonts/Exo-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Exo-SemiBold.woff2") format("woff2"),
		url("../fonts/Exo-SemiBold.woff") format("woff"),
		url("../fonts/Exo-SemiBold.ttf") format("truetype"),
		url("../fonts/Exo-SemiBold.svg#Exo-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
	font-family:"Exo";
	src:url("../fonts/Exo-Bold.eot");
	src:url("../fonts/Exo-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Exo-Bold.woff2") format("woff2"),
		url("../fonts/Exo-Bold.woff") format("woff"),
		url("../fonts/Exo-Bold.ttf") format("truetype"),
		url("../fonts/Exo-Bold.svg#Exo-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
    font-family: 'OFOOD Display';
    src: url('../fonts/OFOOD-Display.eot');
    src: url('OFOOD-Display.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OFOOD-Display.woff2') format('woff2'),
        url('../fonts/OFOOD-Display.woff') format('woff'),
        url('../fonts/OFOOD-Display.ttf') format('truetype'),
        url('../fonts/OFOOD-Display.svg#OFOOD-Display') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}


