.fs-container{
    background-color:#fc8a7e;
}
.by-tokpokki .product-banner::before, .product-banner .banner-pic::before, .product-banner .banner-pic::after{
    content:'';
    position:absolute;
    left:0;
    width:100%;
    height:10px;
    background-color:#fef453;
    z-index:1;
}
.by-tokpokki .product-banner::before, .product-banner .banner-pic::before{
   top:0;
}
.product-banner .banner-pic::after{
    bottom:0;
}
.product-banner .banner-pic{
    text-align:center;
}
.product-banner .banner-pic img.fs-pc{
    display:inline-block;
    width:auto;
    height:614px;
    margin:0 -50%;
}

/* .by-tokpokki .product-banner .fs-inr{
    max-width:1340px;
    margin:0 auto;
} */
.by-tokpokki .product-banner .banner-pic{
    padding-bottom:10px;
}
.by-tokpokki .product-banner .banner-pic::before{
    display:none;
}
.by-tokpokki .product-banner .banner-pic img.fs-pc{
    width:100%;
    height:auto;
    margin:0 auto;
    display:block;
}

.product-info{
    z-index:2;
}
.product-info .fs-inr{
    max-width:1340px;
    margin:0 auto;
}
.product-info .fs-box{
    padding:4.8rem 0 0 4.8rem;
    border-bottom:1px solid #fff;
}
.by-lakim .product-info .fs-box{
    padding: 5rem 0 0 4.3rem;
    border-bottom: none;
}
.by-sot-uop .product-info .fs-box{
    padding: 6rem 0 0 0;
    border-bottom: none;
}
.by-tokpokki .product-info .fs-box{
    border-bottom:2px solid #fff;
}
.by-tokpokki .product-info .fs-box{
    padding:0;
}
.by-tokpokki .product-info  .fs-pic{
    width: 73%;
    float: right;
    top: 15rem;
    right: 7rem;
}
.by-tokpokki .product-info .fs-bg div{
    background-size:100% auto;
    background-position:center top;
}
.by-tokpokki .product-info .fs-txt{
    width:100%;
    padding:10rem 50px 0 50px;
    clear:both;
    text-align: justify;
}
.by-tokpokki .product-info .fs-txt h2{
    font-size:6rem;
}
.by-tokpokki .product-info .fs-txt p{
    margin-bottom:2.2rem;
}
.by-tokpokki .product-info .fs-buts{
    clear:both;
}
.by-tokpokki .product-info .fs-buts{
    padding:2rem 0 9rem 0;
    text-align:center;
}
.by-tokpokki .product-info .fs-but p{
    font-size:2.4rem;
    line-height:1.3;
}
.by-tokpokki .product-info .fs-but{
    display:inline-block;
    vertical-align:top;
    width:35.6rem;
    margin:0 5%;
    padding:2rem 0;
    font-weight:700;
    font-size:2.4rem;
    text-transform:uppercase;
    text-align:center;
    line-height:1.3;
    -webkit-border-radius:1rem;
    border-radius:1rem;
    cursor:pointer;
}
.by-tokpokki .fs-but.yellow{
    background-color:#f9db32;
    color:#f16a46;
}
.by-tokpokki .fs-but.red{
    background-color:#f16a46;
    color:#fff;
}



.product-info .fs-txt{
    float:left;
    width:42%;
    text-align:center;
}
.by-lakim .product-info .fs-txt {
    width:41%;
}
.by-spaghetty .product-info .fs-txt{
    width:44%;
}
.by-sot-uop .product-info .fs-txt{
    width:46%;
}
.by-lakim .product-title h1, .by-sot-uop .product-title h1,
.by-spaghetty .product-title h1{
    font-size: 3.6rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 3rem;
}
.cate-image{
    width:63%;
    margin:0 auto;
}
.logo-image{
    width:100%;
}
.cate-image{
    margin-bottom:1.5rem;
}
.by-lakim .cate-image{
    margin-bottom: 3rem;
}
.logo-image{
    margin-bottom:2.5rem;
}
.by-lakim .logo-image{
    margin-bottom: 7.5rem;
}
.by-sot-uop .logo-image{
    margin-bottom: 4.6rem;
}
.quality-image{
    width:76%;
    margin:0 auto;
}
.product-image{
    float:right;
    top:-218px;
    right:0;
    width:45%;
}
.by-lakim .product-image {
    top: -123px;
    width: 57.4615%;
}
.by-sot-uop .product-image{
    top: -179px;
    width: 52.985%;
    right: -3px;
}
.by-spaghetty .product-info .fs-box{
    border:none;
}
.by-spaghetty  .product-image{
    width:52%;
    top:auto;
    margin-top:-196px;
}
.product-info .fs-txt h2{
    margin-bottom:1.5rem;
    font-size:3.6rem;
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
}
.product-info .fs-txt p {
    margin-bottom:4.6rem;
    font-size:2rem;
    color:#fff;
}
.by-lakim .product-info .fs-txt p, .by-sot-uop .product-info .fs-txt p{
    line-height: 1.7;
}

.product-list .fs-inr{
    max-width:1360px;
    margin:0 auto;
    padding:110px 0;
}
.by-sot-uop .product-list .fs-inr{
    padding:0 0 110px 0;
}
.product-list .swiper-slide{
    background-color:transparent;
}
.product-list .item-slide{
    padding:0 60px;
}
.product-list .item-slide .fs-pic{
    margin-bottom:6rem;
}
.by-lakim .product-list .item-slide .fs-pic{
    margin-bottom: 2rem;
}
.by-sot-uop .product-list .item-slide .fs-pic{
    margin-bottom: 4rem;
}
.product-list .item-slide .fs-pic img{
    width:34.52%;
}
.product-list .fs-buts{
    position:absolute;
    width:65.48%;
    left:34.52%;
    top:66%;
    padding:0 0 0 6rem;
}
.by-tokpokki .product-list .fs-buts{
    top:46%;
}
.by-tokpokki .product-list .item-slide .fs-pic > img{
    width:40.52%;
}
.by-lakim .product-list .item-slide .fs-pic > img{
    width:47.6785%;
}
.by-sot-uop .product-list .item-slide .fs-pic > img{
    width:49.285%;
}
.by-tokpokki .product-list .fs-buts{
    width:59%;
    left:40.52%;
}
.by-lakim .product-list .fs-buts{
    width:46.25%;
    left:47.678%;
    padding: 0 0 0 4rem;
}
.by-sot-uop .product-list .fs-buts{
    width:46.7857%;
    left:47.678%;
    padding: 0 0 0 3.8rem;
}
.product-list .fs-but {
    display:block;
    background-color:#fef453;
    text-align:center;
    cursor:pointer;
}
.product-list .fs-buts span{
    position:relative;
    top:2px;
    display:inline-block;
    width:auto;
    height:auto;
    padding:1.1rem 0 1.1rem 4rem;
    font-size:1.6rem;
    color:#221f1f;
    font-weight:800;
    text-transform:uppercase;
    line-height:1.4;
}
.buy-now span{
    background:url(../images/icon-buy-now.png) no-repeat left 5px;
    background-size:26px auto;
}
.buy-now span::after{
    content:'';
    position: absolute;
    right:-18px;
    top:18px;
    width:9px;
    height:6px;
    background:url(../images/arrow-down.png) no-repeat center center;
}
.buy-online{
    position:relative;
    width:100%;
    height:auto;
    background-color:#fff;
    padding:2rem 0 0.6rem 0;
    text-align:center;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
    opacity:0;
    display:none;
}
.ready .buy-online{
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.buy-now.active + .buy-online{
    opacity:1;
    display:block;
    z-index:2;
}
.buy-online ul{
    width:100%;
    font-size:0;
}
.buy-online li{
    display:inline-block;
    vertical-align:middle;
    width:auto;
    height:auto;
    max-width:62px;
    max-height:62px;
    margin:0 14px 14px 14px;
}
.by-lakim .buy-online li, .by-sot-uop .buy-online li{
    max-width:45px;
    max-height:45px;
}
/* .buy-online li a{
    opacity:0.3;
}
.ready .buy-online li a{
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.buy-online li a:hover, .buy-online li a:active{
    opacity:1;
} */
.product-list .item-slide .buy-online li img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.cate-slogan{
    position:absolute;
    left:34.52%;
    top:16px;
    width:16.42%;
    margin:0 0 0 6rem;
}
.product-list .item-slide .fs-pic .cate-slogan img{
    width:100%;
}
.product-detail li{
    position: relative;
    overflow:hidden;
    padding:2rem 0;
    border-bottom:1px solid #fff;
}
.product-detail li.is-faq{
    padding: 0;
}
.product-detail li:last-child{
    border:none;
}
.cap-title, .cap-detail{
    position: relative;
    float:left;
    font-size:2rem;
    color:#fff;
}
.cap-title{
    width:46%;
}
.is-faq .cap-title{
    /* width: 100%; */
    /* float: left; */
    cursor: pointer;
    padding: 2rem 0 2rem 0;
}
.is-faq .is-icon{
    position: absolute;
    display: inline-block;
    top: 2.5rem;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 2;
}
.is-faq .is-icon::before, 
.is-faq .is-icon::after{
    content: '';
    position: absolute;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
    /* -webkit-transform: translateY(-50%);
    transform: translateY(-50%); */
}
.is-faq .is-icon::before {
    background: url(../images/icon-minus.png) no-repeat center center;
    background-size: cover;
    opacity: 0;
}
.is-faq .is-icon.active::before {
    opacity: 1;
}
.is-faq .is-icon::after {
    background: url(../images/icon-plus.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
}
.is-faq .is-icon.active::after{
    opacity: 0;
}


.cap-title:only-child{
    width:100%;
}
.cap-detail{
    width:54%;
}
.is-faq .cap-detail{
    padding: 2rem 1.8rem 2rem 0;
}
.is-faq .cap-detail p{
    position: relative;
    margin-bottom: 3rem;
}
.is-faq .cap-detail .note{
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 2rem;
    color: #fff;
}
.is-faq .cap-detail p:last-child{
    margin-bottom: 0;
}
.product-box .small-title, .cap-title {
    font-weight:600;
}
.product-box .small-title{
    position:relative;
    display:block;
    width:100%;
    font-size:2rem;
    color:#fff;
    text-transform:uppercase;
    margin-bottom:4rem;
}
.product-box .small-title::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-2rem;
    width:150px;
    height:5px;
    background-color:#fff;
}
.by-lakim .product-box .small-title::after, .by-sot-uop .product-box .small-title::after{
    width:130px;
}
.by-tokpokki .product-box .small-title::after{
    width:180px;
}

.product-list .swiper-button-prev, .product-list .swiper-button-next{
    top:50%;
    -webkit-transform:none;
    transform:none;
}
.product-list .swiper-button-prev{
    left:0;
}
.product-list .swiper-button-next{
    right:0;
}


.product-recipe .fs-inr{
    max-width:1340px;
    margin:0 auto;
    padding:110px 0 210px 0;
}
.recipe-box{
    width:100%;
    font-size:0;
    margin-bottom:3.5rem;
}
.recipe-box .fs-box{
    display:inline-block;
    vertical-align:middle;
    width:33.3333%;
}
.recipe-box .fs-box a{
    position: relative;
    display: block;
    width:100%;
}
.recipe-box .fs-bg{
    position: relative;
    left:auto;
    top:auto;
    right:auto;
    bottom:auto;
}
.recipe-box .fs-bg::before{
    padding-top:100%;
}
.recipe-box .fs-bg div{
    left:0;
    top:0;
}
.product-recipe .fs-title{
    text-align:center;
    font-size:0;
}
.product-recipe .fs-title h2{
    font-size:4.8rem;
    color:#fff;
    font-weight:700;
    margin-bottom:2rem;
}

.product-recipe .logo-image{
    display:inline-block;
    vertical-align:middle;
    width:19.55%;
    margin:0 2.4rem 0 0;
}
.product-recipe .fs-buts{
    display:inline-block;
    vertical-align:middle;
    width:30.3%;
}
.product-recipe .fs-but{
    display: block;
    width:100%;
    height:auto;
    padding:2.4rem 0;
    background:url(../images/arrow-next.png) no-repeat 96% center;
    background-color:#fef453;
}
.product-recipe .fs-but span{
    font-size:1.6rem;
    text-transform:uppercase;
    font-weight:800;
    color:#221f1f;
    text-align:center;
}

.product-recipe .product-tab{
    position:relative;
    top:auto;
    bottom:0;
}

.product-recipe::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:10px;
    background-color:#fef453;
    z-index:1;
}

@media screen and (max-width:1380px) { 
    .product-banner .banner-pic img.fs-pc{
        height:540px;
    }
    .product-info .fs-inr, .product-recipe .fs-inr {
        max-width:1100px;
    } 
    .by-tokpokki .product-info .fs-pic{
        top:12rem;
        right: 5rem;
    }
    .by-tokpokki .product-info .fs-txt h2{
        font-size:5.6rem;
    }
    .product-image{
        top:-190px;
    }
    .by-lakim .product-image {
        top: -98px;
    }
    .product-list .fs-inr{
        max-width:1160px;
    }
    .product-list .item-slide{
        padding:0 30px;
    }
    .is-faq .cap-detail p{
        margin-bottom: 2rem;
    }
    .product-list .fs-inr {
        padding:80px 0;
    }
    .product-recipe .fs-inr{
        padding:80px 0 200px 0;
    }
    .product-info .fs-box{
        padding:5rem 0 0 5rem;
    }
    .product-info .fs-txt h2{
        font-size:2.8rem;
    }
    .product-recipe .fs-buts{
        width:34%;
    }
    .product-recipe .fs-but span{
        font-size:1.4rem;
    }
    .product-info .fs-txt p{
        font-size:1.8rem;
        margin-bottom:3.6rem;
    }
    .product-box .small-title, .cap-title, .cap-detail{
        font-size:1.8rem;
    }
    .by-tokpokki .product-box .small-title::after{
        width: 170px;
    }
    .product-recipe .fs-title h2{
        font-size:4.4rem;
    }
    .product-list .item-slide .buy-online li img{
        max-width:52px;
        max-height:52px; 
    }
    .is-faq .cap-detail{
        padding: 2rem 2rem 2rem 0;
    }


    .by-lakim .product-list .item-slide .buy-online li img, 
    .by-sot-uop .product-list .item-slide .buy-online li img {
        max-width: 37px;
        max-height: 37px;
    }

    /* La kim */
    .by-lakim .product-info .fs-box {
        padding: 4rem 0 0 4.3rem;
    }
    .by-lakim .product-title h1, .by-sot-uop .product-title h1{
        margin-bottom: 2rem;
    }
    .by-lakim .logo-image {
        margin-bottom: 4rem;
    }
    .by-lakim .product-box .small-title::after {
        width: 116px;
    }

    /* Sot uop */
    .by-sot-uop .logo-image{
        margin-bottom: 3.4rem;
    }
    .by-sot-uop .product-info .fs-box{
        padding: 4rem 0 0 0;
    }
    .by-sot-uop .product-image {
        top: -145px;
    }

    .by-spaghetty .product-image{
        width:58%;
        margin:-196px -60px 0  0;
    }

}


@media screen and (max-width:1150px) { 
    .product-banner .banner-pic img.fs-pc{
        height:520px;
    }
    .product-image{
        top:-160px;
    }
    .product-info .fs-inr, .product-recipe .fs-inr {
        max-width:1000px;
    } 
    .product-list .fs-inr{
        max-width:1060px;
    }
    .product-recipe .fs-but span{
        font-size:1.1rem;
    }
    .product-info .fs-txt h2{
        font-size:2.4rem;
    }
    .product-info .fs-txt p{
        font-size:1.6rem;
    }
    .product-box .small-title, .cap-title, .cap-detail{
        font-size:1.6rem;
    }
    .product-recipe .logo-image{
        width:22%;
    }
    .product-recipe .fs-but span{
        font-size:1.3rem;
    }
    .is-faq .cap-title::before, .is-faq .cap-title::after{
        right: 1.4rem;
    }

    .by-tokpokki .product-box .small-title::after {
        width: 150px;
    }
    .swiper-button-prev, .swiper-button-next{
        width: 25px;
    }

    .by-lakim .product-list .item-slide .buy-online li img, .by-sot-uop .product-list .item-slide .buy-online li img {
        max-width: 31px;
        max-height: 31px;
    }

    /* La kim */
    .by-lakim .product-title h1, .by-sot-uop .product-title h1{
        margin-bottom: 1.5rem;
    }
    .by-lakim .logo-image {
        margin-bottom: 3rem;
    }
    .by-lakim .product-box .small-title::after {
        width: 104px;
    }

    /* Sot uop */
    .by-sot-uop .logo-image{
        margin-bottom: 2.6rem;
    }

}

/* Responsive mobile */
@media screen and (max-width: 1100px){
    .by-tokpokki .product-banner .fs-inr, .by-tokpokki .product-info .fs-inr {
        width:100%;
        max-width:inherit;
    }
    .product-list .swiper-button-next{
        right:-5%;
    }
    .product-list .swiper-button-prev, 
    .product-list .swiper-button-next {
        top: 39%;
    }
    .product-list .swiper-button-prev{
        left:-5%;
    }
    .product-info .fs-inr, .product-list .fs-inr{
        width:87.4%;
        max-width:825px;
    }
    .product-list .fs-inr{
        padding:7.4vw 0;
        border-bottom:5px solid #fff;
        margin-bottom:11vw;
    }
    .product-info .fs-box{
        padding:0;
        padding-bottom:8.148vw;
        border-bottom:3px solid #fff;
    }
    .product-image, .product-info .fs-txt {
        width:100%;
        float: none;
        top:auto;
        right:auto;
    }
    .product-image{
        text-align:center;
    }
    .product-image .fs-bg div{
        background-position:center top;
        background-size:100% auto;
    }
    .product-image img{
        position: relative;
        top: -24vw;
        left: 9vw;
        width: 73%;
        margin: 0 auto;
        z-index: 1;
    }
    .product-info .fs-txt {
        width:100%;
    }
    .cate-image{
        margin-bottom:2.2222vw;
    }
    .logo-image{
        width:67%;
        margin:0 auto 3.51875vw auto;
    }
    .by-tokpokki .product-info .fs-box{
        border:none;
    }
    .by-tokpokki .product-info .fs-pic{
        top:24.7vw;
        width:90.5555%;
        right: auto;
    }
    .by-tokpokki .product-info .fs-txt{
        padding:24vw 6.48% 0 6.48%;
    }
    .product-info .fs-txt h2{
        font-size:3.98vw;
        font-weight:700;
        margin-bottom:2.222vw;
    }
    .product-info .fs-txt p, .by-tokpokki .product-info .fs-buts p{
        font-size:2.7vw;
        margin-bottom:6.5vw;
    }
    .product-box .small-title, .cap-title, .cap-detail, .is-faq .cap-detail .note{
        font-size:2.7vw; 
    }
    .by-tokpokki .product-info .fs-txt h2{
        font-size:6.6666vw;
        margin-bottom:1.3vw;
    }
    .by-tokpokki .product-info .fs-txt p, .by-tokpokki .product-info .fs-buts p{
        margin-bottom:3vw;
    }
    .by-tokpokki .product-info .fs-buts{
        width:87.04%;
        margin:0 auto;
        padding:2vw 0 6.48vw 0;
        overflow:hidden;
        border-bottom:3px solid #fff;
    }
    .by-tokpokki .product-info .fs-buts p{
        margin:0;
    }
    .by-tokpokki .product-info .fs-but{
        width:38.8888vw;
        margin:0;
        padding:2.1vw 0;
        display:block;
    }
    .by-tokpokki .fs-but.yellow{
        float:right;
    }
    .by-tokpokki .fs-but.red{
        float:left;
    }

    .quality-image{
        width:59.8%;
    }
    .product-list .item-slide{
        padding:0 9vw;
    }
    .by-tokpokki .product-list .item-slide{
        padding: 0 6vw;
    }
    .by-tokpokki .product-box .small-title::after{
        width: 90%;
    }
    .product-list .item-slide .fs-pic{
        margin-bottom:3.7vw;
    }
    .product-list .item-slide .fs-pic img, .by-tokpokki .product-list .item-slide .fs-pic > img{
        width:39%;
    }
    .by-tokpokki .product-list .fs-buts{
        left:39%;
        padding:0 0 0 3rem;
    }
    .product-list .fs-buts span{
        padding:1.2vw 0 1.2vw 4.63vw;
        background-position:left 0.463vw;
        background-size:3.426vw auto;
        font-size:2.4vw;
    }
    .buy-now span::after{
        right:-3.518vw;
        top:1.9444vw;
        width:2.037vw;
        height:1.3vw;
        background:url(../images/arrow-menu-down.png) no-repeat center center;
        background-size:cover;
    }
    .buy-online{
        padding:2vw 0 0.8vw 0;
    }
    .buy-online li{
        margin:0 1.2vw 1.2vw 1.2vw;
    }
    .product-list .item-slide .buy-online li img{
        max-width:6vw;
        max-height:6vw;
    }
    .product-detail li{
        padding:1.85vw 0;
    }
    .product-box .small-title::after{
        bottom: -1.5vw;
        width: 26.5vw;
    }
    .recipe-box{
        width:50%;
    }
    .recipe-box .fs-box{
        display:block;
        width:100%;
    }
    .product-recipe .fs-title{
        position:absolute;
        right:0;
        top:50%;
        width:50%;
        padding:0 10%;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .product-recipe .fs-title h2, .recipe-logo h3{
        font-size:5.555vw;
        line-height:1.2;
        margin-bottom:1.85vw;
    }
    .recipe-logo h3{
        color:#fff;
        font-weight:700;
    }
    .product-recipe .logo-image{
        display:block;
        width:100%;
        margin-bottom:1.85vw;
    }
    .product-recipe .fs-buts{
        display:block;
        width:100%;
    }
    .product-recipe .fs-but{
        padding:0.92vw 1.85vw;
        background:url(../images/arrow-menu-next.png) no-repeat 95% center;
        background-color:#fef453;
        background-size:2.4vw auto;
    }
    .product-recipe .fs-but span{
        text-align:left;
        font-size:3.05vw;
    }
    .product-recipe .fs-inr{
        padding:7.4vw 0 8vw 0;   
    }
    .product-recipe .product-tab:only-child{
        padding-top:10vw;
    }

    .ready .buy-online li a{
        -webkit-transition:none;
        transition:none;
        opacity:1;
    }
    .buy-online li a:hover{
        opacity:1;
    }
    .is-faq .cap-title{
        padding: 1.85vw 0;
    }
    .is-faq .cap-detail{
        padding: 1.8518vw 2.2vw 1.8518vw 0;
    }
    .is-faq .cap-detail p{
        margin-bottom:2.3148vw;
    }
    .is-faq .cap-title::before, .is-faq .cap-title::after{
        right: 1.8518vw;
    }

    .is-faq .is-icon{
        width: 1.8518vw;
        height: 1.8518vw;
        top: 2.6vw;
    }

    .product-banner .banner-pic::after, .product-banner .banner-pic::before, 
    .product-recipe::before, .by-tokpokki .product-banner::before, .product-banner .banner-pic::before{
        height: 0.93333vw;
    }

    .by-lakim .product-list .item-slide .buy-online li img, 
    .by-sot-uop .product-list .item-slide .buy-online li img {
        max-width: 100%;
        max-height: 100%;
    }
    /* La kim */
    .by-lakim .fs-bg div, .by-sot-uop .fs-bg div, .by-spaghetty .fs-bg div{
        height: 45%;
    }
    .by-lakim .product-list .fs-inr, .by-sot-uop .product-list .fs-inr{
        padding: 0;
        border-bottom: none;
    }
    .by-lakim .product-info .fs-box, .by-sot-uop .product-info .fs-box{
        padding: 0;
    }
    .by-lakim .product-image{
        top: -4vw;
        width: 100%;
    }
    .by-lakim .product-image img{
        top: -5vw;
        left: 0;
        width: 100%;
    }
    .by-lakim .product-info .fs-txt, .by-sot-uop .product-info .fs-txt{
        width: 100%;
        margin: 0;
    }
    .by-lakim .product-info .fs-txt{
        margin: -4vw 0 0 0;
    }
    .by-lakim .product-title h1{
        font-size: 3.3333vw;
        margin-bottom: 2.77777vw;
    }
    .by-lakim .logo-image, .by-sot-uop .logo-image{
        margin-bottom: 5.55vw;
    }
    .by-lakim .product-list .item-slide .fs-pic, .by-sot-uop .product-list .item-slide .fs-pic {
        margin-bottom: 2.7777vw;
    }
    .by-lakim .product-list .item-slide .fs-pic > img{
        width: 39%;
    }
    .by-lakim .product-list .item-slide, .by-sot-uop .product-list .item-slide{
        padding: 0 4.52vw;
    }
    .by-lakim .product-list .fs-buts, .by-sot-uop .product-list .fs-buts {
        width: 52.6822%;
        left: auto;
        right: 0;
        padding: 0;
    }
    .by-lakim .product-list .fs-buts{
        top: 53%;
    }
    .by-sot-uop .product-list .fs-buts{
        top: 58%;
    }
    .by-lakim .buy-online li, .by-sot-uop .buy-online li {
        max-width: 5.740vw;
        max-height: 5.740vw;
        margin: 0 2.222vw 2.222vw 2.222vw ;
    }
    .by-lakim .product-box .small-title::after {
        width: 38vw;
    }
    .is-faq .cap-detail .note{
        margin-top: 2.777vw;
    }

    /* Sot uop */
    .by-sot-uop .product-image img{
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
    }
    .by-sot-uop .product-title h1, .by-spaghetty .product-title h1{
        font-size: 3.3333vw;
        margin-bottom: 3.7037vw;
    }
    .by-sot-uop .product-info .fs-txt p{
        line-height: 1.4;
    }
    .by-sot-uop .product-image{
        top: 0;
        width: 82.3%;
        margin: -15.74074vw auto 4vw auto;
    }
    .by-sot-uop .product-list .item-slide .fs-pic > img{
        width: 42.6409%;
    }
    .by-sot-uop .product-box .small-title::after {
        width: 25vw;
    }


    .by-spaghetty  .product-list .swiper-button-prev, .by-spaghetty  .product-list .swiper-button-next{
        top:63vw;
    }

    .by-spaghetty .product-list .fs-inr{
        border:none;
        margin:0 auto;
    }
    .by-spaghetty .product-info .fs-box{
        padding:0;
    }
    .by-spaghetty .product-image{
        width:100%;
        margin:-13.5vw auto 10vw auto;
    }
    .by-spaghetty .product-image img{
        top:auto;
        left:10vw;
        margin:0 auto;
    }
    .by-spaghetty  .product-info .fs-txt{
        width:100%;
    }
    .by-spaghetty .product-box .small-title{
        width:auto;
        display:inline-block;
    }
    .by-spaghetty .product-box .small-title::after{
        width:100%;
    }
    
}

@media screen and (max-width: 840px){
    
    
}

@media screen and (max-width: 520px){
    /* .by-tokpokki .product-banner::before, .product-banner .banner-pic::before, .product-banner .banner-pic::after, .product-recipe::before{
        height:7px;
    } */
    .by-tokpokki .product-banner .banner-pic{
        padding-bottom:7px;
    }
    .product-list .fs-inr{
        border-bottom:2px solid #fff;
    }
    .product-info .fs-box{
        border-bottom:2px solid #fff;
    }
    .swiper-button-prev, .swiper-button-next{
        width: 20px;
    }
    .product-box .small-title{
        margin-bottom:5vw;
    }
    .product-box .small-title::after {
        bottom: -1.9vw;
        height: 2px;
        width: 44.5vw;
    }
    .product-detail li{
        padding:2.5vw 0;
    }
    .product-list .item-slide{
        padding:0 10px;
    }
    .product-list .fs-buts span{
        background-position:left 0.9vw;
        padding:1.2vw 0 1.4vw 5vw;
        font-size:3.45vw;
    }
    .buy-now span::after{
        right:-4vw;
        top:2.5vw;
    }
    .product-recipe .fs-but span{
        padding:1vw 0 1vw 3vw;
        font-size:3.45vw;
    }
    .product-list .fs-buts{
        padding:0 0 0 10vw;
    }
    .by-tokpokki .product-list .fs-buts{
        padding:0 0 0 3vw;
    }
    .cate-slogan{
        margin:0 0 0 10vw;
    }
    .buy-online{
        padding:2vw 0 0.5vw 0;
        -webkit-border-radius:0 0 5px 5px;
        border-radius:0 0 5px 5px;
    }
    .buy-online li{
        margin:0 2vw 2vw 2vw;
    }
    .product-list .item-slide .buy-online li img{
        max-width: 7vw;
        max-height: 7vw;
    }
    .by-lakim .buy-online li, .by-sot-uop .buy-online li {
        max-width: 7vw;
        max-height: 7vw;
    }
    
    .is-faq .cap-title::before, .is-faq .cap-title::after{
        width: 1rem;
        height: 1rem;
    }

    .is-faq .cap-title{
        padding: 2.5vw 0;
    }
    .is-faq .cap-detail{
        padding: 2.5vw 2.7vw 2.5vw 0;
    }
    .is-faq .is-icon {
        width: 2.5vw;
        height: 2.5vw;
        top: 3vw;
    }

}

@media screen and (max-width: 390px){
    .product-info .fs-inr, .product-list .fs-inr{
        width:82%;
    }

    .product-image img{
        width: 70%;
    }
}

@media screen and (max-width: 350px){
    
}