/* Set Font */
.fs-title{
    position: relative;
    text-align: center;
}
.introduce h2, .journeys h2, .fs-origin h2{
    font-size: 4rem;
    color: #ca9e43;
    line-height: 1.2;
    text-transform: uppercase;
    font-style: normal;
}
.introduce .fs-txt p, 
.timeline-outer .fs-box:nth-child(2) .fs-txt p,
 .fs-origin .fs-title p, .origin-item p, .mission-box p{
    font-size: 2.4rem;
    font-weight: 500;
}

.txt-top p{
    font-weight: 600;
}

.introduce h2, .journeys h2, .txt-deasang p, 
.fs-origin h2, .origin-tab li span, .origin-item h3, .mission-box .small-title, .slogan p, .txt-bot p{
    font-weight: 700;
}

.introduce .fs-inr::after, .fs-origin .fs-inr::after{
    content: '';
    position: absolute;
    left: 50%;
    width: 43.3582%;
    height: 1px;
    background-color: #818181;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.introduce .fs-inr::after{
    bottom: -13.7rem;
}
.fs-origin .fs-inr::after{
    top: 10.7rem;
}


/* Banner */
.story-banner .fs-pic::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background-color: #00b3d2;
    z-index: 1;
}




/* Introduce */
.introduce .fs-inr{
    max-width: 1340px;
    margin: 0 auto;
}
.introduce .fs-title{
    margin: 11.940% 0 2.2388% 0;
}
.introduce .fs-txt{
    text-align: center;
    padding: 0 3.7rem;
}
.introduce .fs-txt p{
    color: #000000;
}


/* journeys */
.journeys .fs-inr{
    max-width: 1340px;
    margin: 0 auto;
    padding: 13.437% 0 24.635% 0;
}
.journeys .fs-title{
    padding: 0 0 18.43283% 0;
}



.timeline-box{
    position: relative;
    display: block;
    width: 100%;
}
.timeline-item, .timeline-outer{
    position: relative;
    display: block;
}
.timeline-outer{
    padding-bottom: 10.447%;
}
.timeline-item:first-child .timeline-outer{
    padding-top: 12.3%;
}
.timeline-item:last-child .timeline-outer{
    padding-bottom: 0;
}
.timeline-outer::after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    clear: both;
}
.timeline-outer .fs-box:nth-child(1){
    float: left;
    width: 49.029%;
    text-align: right;
    padding:0 2.61194% 0 0;
}
.timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(1){
    float: right;
    width: 46.8656%;
    text-align: left;
    padding: 0 0 0 3.356%;
}
.timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(2){
    float: left;
    width: 49.029%;
    padding: 0 3.356% 0 0;
    text-align: right;
}
.timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(2) .fs-txt{
    padding-top: 9%;
}
.timeline-outer .fs-box:nth-child(2){
    float: right;
    width: 46.8656%;
    padding: 0 0 0 3.356%;
}
.txt-top, .txt-bot{
    position: relative;
    display: block;
}
.txt-top p, .txt-bot p{
    display: inline-block;
    color: #c09949;
    line-height: 1.2;
}
.txt-top p{
    font-size: 2.6rem;
}
.txt-bot p{
    font-size: 2.4rem;
}
.is-year.txt-top{
    margin-bottom: 9.6308%;
}
.txt-top p strong{
    display: block;
    font-size: 10.2rem;
    line-height: 1.1;
}
.timeline-outer .fs-box:nth-child(2) .fs-txt p{
    color: #000;
}
.is-daesang{
    display: inline-block;
    width: 44.13793%;
    margin-bottom: 4.137%;
}
.is-ofood{
    display: inline-block;
    width: 49.482%;
    margin-bottom: 6rem;
}
.txt-deasang p{
    font-size: 3.6rem;
    color: #140e46;
}
.line {
    position: absolute;
    display: inline-block;
    top: 0;
    left:51.044%;
    width: 0.6rem;
    height: 100%;
    background-color: #c9ac6c;
}
.dot {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50.35%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00b3d2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
}
.timeline-item:nth-child(1) .dot{
    top: 53%;
}
.timeline-item:nth-child(2) .dot{
    top: 43%;
}
.line-left::after, .line-right::after{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    width: 28.4rem;
    height: 0.4rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.line-left::after{
    right: 100%;
    background: url(../images/story/timeline-left.png) no-repeat center center;
    background-size: 28.4rem auto;
}
.line-right::after{
    left: 100%;
    background: url(../images/story/timeline-right.png) no-repeat center center;
    background-size: 28.4rem auto;
}
.has-overlay{
    height: 43%;
}
.has-overlay::after{
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    width: 0.6rem;
    height: 34.8rem;
    background: url(../images/story/line-overlay.png) no-repeat center center;
    background-size: auto 34.8rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.prd-ofood{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: -5rem;
    left: 2rem;
}
.prd-ofood .fs-pic{
    display: inline-block;
    width: 88.3854%;
}


.logo-map img{
    display: block;
    width: 100%;
}
.logo-map {
    position: absolute;
    display: inline-block;
    height: auto;
}
.logo-map:nth-child(1){
    width: 10.820%;
    top: 26%;
    left: 47.38805%;
}
.logo-map:nth-child(2){
    width: 13.73134%;
    bottom: 5%;
    left: 42.53731%;
}



/* Origin */
.fs-origin .fs-inr{
    width:100%;
    max-width:1340px;
    margin:0 auto;
    padding: 10.7462% 0 8.15% 0;
}

.fs-origin .title-pic{
    width:72%;
    margin:0 auto 4.4rem auto;
}
.origin-box{
    position:relative;
    display:block;
    width:89.552%;
    height:auto;
    padding-bottom: 17%;
    margin:0 auto;
    color:#fff;
}
.origin-tab, .origin-items{
    position:relative;
    display:block;
    width:100%;
}
.origin-box h2{
    margin-bottom:1.6rem;
    font-size:4.8rem;
    font-weight:600;
    text-align:center;
    text-transform:uppercase;
}
.origin-tab{
    margin-bottom:8.4328%;
    text-align:center;
}
.origin-tab li{
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:auto;
    cursor:pointer;
}
.origin-tab li span{
    position:relative;
    display:inline-block;
    font-size:3.6rem;
    text-transform:uppercase;
    color:#000000;
}

.origin-tab li{
    padding:0 16.166%;
}
.origin-tab li:first-child{
    padding:0 9.66% 0 0;
}
.origin-tab li:last-child{
    padding:0 0 0 13%;
}
.origin-tab li::after{
    content:'';
    position:absolute;
    right:0;
    top:0;
    width:2px;
    height:100%;
    background-color:#818181;
}
.origin-tab li:last-child::after{
    display:none;
}
.ready .origin-tab li span{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.origin-tab li:not(.active):hover span, .origin-tab li.active span{
    color:#00b3d3;
}
.origin-tab li:not(.active):hover span::after{
    opacity:1;
}
.origin-items{
    min-height:95rem;
}
.ready .origin-item{
    -webkit-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}
.origin-item{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto;
    color:#000;
    padding: 0 3%;
    text-align:center;
    opacity:0;
    visibility:hidden;
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
}
.origin-item.active{
    position:relative;
    left:auto;
    top:auto;
    display:block;
    -webkit-transition-delay:0.15s;
    transition-delay:0.15s;
    opacity:1;
    visibility:visible;
}
.origin-item.active .fs-txt{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.origin-items .fs-pic{
    display: inline-block;
    width: 59.840%;
    padding-top: 5.31914%;
}

.origin-item h3{
    font-size:3.6rem;
    text-transform:uppercase;
    margin-bottom:0.6rem;
}
.origin-item.active h3{
    color: #00b3d3;
}
.origin-item p{
    margin-bottom:0.6rem;
}

.fs-origin .fs-title{
    padding: 0 0 9.6268% 0;
}
.fs-origin h2{
    margin-bottom: 0.37313%;
}
.fs-origin .fs-title p{
    font-size: 2.8rem;
    color: #ca9e43;
}



/* mission */
.mission-box{
    position: relative;
    display: block;
}
.mission-box .small-title{
    font-size: 3.6rem;
    color: #ca9e43;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 2.238%;
}
.mission-inr{
    position: relative;
    display: inline-block;
    width: 49.029%;
}
.fs-origin .fs-box-pics {
    position: relative;
    text-align: center;
    font-size: 0;
    z-index: 2;
}
/* .fs-box-pics .fs-pic{
    display: inline-block;
    height: 810px;
    width: auto;
    margin: 0 -50%;
} */
.o-food{
    position: absolute;
    width: 43.59%;
    height: auto;
    bottom: 12.5%;
    right: 4.062%;
}
.o-food img{
    width: 100%;
}

/* Slogan */
.slogan .fs-inr{
    max-width: 1340px;
    margin: 0 auto;
    padding: 3.6458% 0 3.6458% 0;
}
.slogan .fs-box{
    text-align: center;
}
.slogan .fs-pic{
    display: inline-block;
    width: 30.5970%;
    margin-bottom: 1.8656%;
}
.slogan p{
    font-size: 3.2rem;
    color: #140e46;
}



/* Animation */
.origin-item .fs-txt, .introduce .fs-txt, .journeys .prd-ofood, .origin-item.active .fs-pic{
    opacity:0;
}
.origin-item.active .fs-txt.fs-ani, .origin-item.active .fs-pic.fs-ani, .introduce .fs-txt.fs-ani, .journeys .prd-ofood.fs-ani{
    -webkit-animation:fadeInUp;
    animation:fadeInUp;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.timeline-outer .fs-box.left:nth-child(1), .timeline-outer .fs-box.right:nth-child(2), 
.timeline-item:nth-child(even) .timeline-outer .fs-box.left:nth-child(2), .timeline-item:nth-child(even) .timeline-outer .fs-box.right:nth-child(1){
    opacity: 0;
}

.timeline-outer .fs-box.left:nth-child(1).fs-ani, .timeline-item:nth-child(even) .timeline-outer .fs-box.left:nth-child(2).fs-ani{
    -webkit-animation:fadeInLeft;
    animation:fadeInLeft;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.timeline-outer .fs-box.right:nth-child(2).fs-ani, 
.timeline-item:nth-child(even) .timeline-outer .fs-box.right:nth-child(1).fs-ani{
    -webkit-animation:fadeInRight;
    animation:fadeInRight;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}



.fs-origin .o-food{
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.fs-origin .o-food.fs-ani{
    -webkit-animation:Up;
    animation:Up;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}





@-webkit-keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, 50%, 0);
		transform:translate3d(0, 50%, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0, 50%, 0);
		transform:translate3d(0, 50%, 0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}
}



@-webkit-keyframes Up{
	100%{
        -webkit-transform: none;
        transform: none;
	}
}
@keyframes Up{
	100%{
        -webkit-transform: none;
        transform: none;
	}
}


@-webkit-keyframes fadeInLeft{
	0%{
		opacity:0;
        -webkit-transform: translateX(8%);
        transform: translateX(8%);
	}
	100%{
        opacity:1;
        -webkit-transform: none;
        transform: none;
	}
}
@keyframes fadeInLeft{
	0%{
		opacity:0;
        -webkit-transform: translateX(8%);
        transform: translateX(8%);
	}
	100%{
        opacity:1;
        -webkit-transform: none;
        transform: none;
	}
}



@-webkit-keyframes fadeInRight{
	0%{
		opacity:0;
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%);
	}
	100%{
        opacity:1;
        -webkit-transform: none;
        transform: none;
	}
}
@keyframes fadeInRight{
	0%{
		opacity:0;
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%);
	}
	100%{
        opacity:1;
        -webkit-transform: none;
        transform: none;
	}
}


@media screen and (max-width: 1380px){
 
    .introduce .fs-inr, .journeys .fs-inr, .fs-origin .fs-inr{
        max-width: 1100px;
    }
    .introduce h2, .journeys h2, .fs-origin h2{
        font-size: 3.4rem;
    }
    .introduce .fs-txt p, .txt-bot p, .timeline-outer .fs-box:nth-child(2) .fs-txt p, .fs-origin .fs-title p, .origin-item p, .mission-box p{
        font-size: 2rem;
    }
    /* Introduce */
    .introduce .fs-title {
        margin: 9.94% 0 1.2388% 0;
    }
    .introduce .fs-inr::after {
        bottom: -6.7rem;
    }
    /* jouneys */
    .txt-top p strong{
        font-size: 8.2rem;
    }
    .txt-top p {
        font-size: 2.2rem;
    }
    .journeys .fs-title {
        padding: 0 0 13% 0;
    }
    .has-overlay::after {
        height: 24rem;
        background-size: auto 24rem;
    }
    .line-left::after, .line-right::after {
        width: 25rem;
        background-size: 25rem auto;
    }
    .dot {
        width: 2.2rem;
        height: 2.2rem;
    }
    .timeline-item:nth-child(1) .dot {
        top: 55%;
    }
    .fs-origin .fs-inr::after {
        top: 4.7rem;
    }
    .origin-tab li span, .origin-item h3, .mission-box .small-title{
        font-size: 3rem;
    }
    .origin-items {
        min-height: 75rem;
    }
    .slogan p{
        font-size: 2.8rem;
    }
}

@media screen and (max-width:1150px) { 
    .introduce .fs-inr, .journeys .fs-inr, .fs-origin .fs-inr{
        max-width: 1000px;
    }
    .introduce h2, .journeys h2, .fs-origin h2{
        font-size: 2.8rem;
    }
    .introduce .fs-txt p, .txt-bot p, .timeline-outer .fs-box:nth-child(2) .fs-txt p, .fs-origin .fs-title p, .origin-item p, .mission-box p{
        font-size: 1.6rem;
    }
    /* Introduce */
    .introduce .fs-title {
        margin: 7% 0 1% 0;
    }
    .introduce .fs-inr::after {
        bottom: -6.7rem;
    }
    .txt-top p strong {
        font-size: 7.2rem;
    }
    .txt-top p {
        font-size: 1.8rem;
    }
    .timeline-item:nth-child(1) .dot {
        top: 53%;
    }
    .origin-tab li span, .origin-item h3, .mission-box .small-title {
        font-size: 2.4rem;
    }
    .origin-items {
        min-height: 68rem;
    }
    .slogan p {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1100px){
    .journeys .fs-inr{
        width: 92.59%;
    }
    .introduce .fs-inr, .fs-origin .fs-inr, .slogan .fs-inr{
        width: 82.685%;
    }
    .introduce h2, .journeys h2, .fs-origin h2, .mission-box .small-title{
        font-size: 3.333vw;
    }
    .introduce .fs-txt p, .txt-top p, .txt-bot p, .timeline-outer .fs-box:nth-child(2) .fs-txt p, 
    .fs-origin .fs-title p, .origin-tab li span, .origin-item h3, .origin-item p, .mission-box p{
        font-size: 2.592vw;
    }
    /* Banner */
    .story-banner .fs-pic::after{
        height: 1.111vw;
    }

    /* Introduce */
    .introduce .fs-title {
        margin: 6.9444vw 0 1.85185vw 0;
    }
    .introduce .fs-inr::after {
        bottom: -2.31vw;
    }
    .introduce .fs-txt{
        padding: 0;
    }

    /* journeys */
    .journeys .fs-inr{
        padding: 6.481vw 0 25.925vw 0;
    }
    .journeys .fs-title{
        padding: 0 0 18.14vw 0;
    }
    .timeline-item:first-child .timeline-outer{
        padding-top: 10.185vw;
    }
    .timeline-outer {
        padding-bottom: 9.259vw;
    }
    .txt-top p strong {
        font-size: 7.2vw;
    }
    .timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(2) .fs-txt{
        padding-top: 0;
    }
    .timeline-outer .fs-box:nth-child(1), .timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(2) {
        width: 39.53vw;
        padding: 0;
    }
    .timeline-outer .fs-box:nth-child(2), .timeline-item:nth-child(even) .timeline-outer .fs-box:nth-child(1) {
        width: 43.24vw;
        padding: 0;
    }
    .line{
        left: 47.2%;
        width: 0.555vw;
    }
    .dot{
        width: 1.85vw;
        height: 1.85vw;
        left: 46.5%;
    }
    .timeline-item:nth-child(1) .dot{
        top: 22vw;
    }
    .timeline-item:nth-child(2) .dot {
        top: 8vw;
    }
    .line-left::after, .line-right::after{
        width: 20.92vw;
        background-size: 20.92vw auto;
        height: 0.37vw;
    }
    .has-overlay {
        height: 9vw;
    }
    .has-overlay::after{
        height: 27vw;
        background-size: auto 27vw;
    }
    .is-year.txt-top {
        margin-bottom: 4.62vw;
    }
    .is-daesang{
        width: 18.14vw;
    }
    .is-ofood{
        width: 20.27vw;
        margin-bottom: 6.48vw;
    }
    .logo-map:nth-child(1) {
        width: 13.42vw;
        top: 22vw;
        left: 39.5vw;
    }
    .logo-map:nth-child(2) {
        width: 17.037vw;
        bottom: 5vw;
        left: 34vw;
    }
    .prd-ofood {
        top: auto;
        left: 3vw;
    }
    .prd-ofood .fs-pic{
        width: 95.83vw;
    }


    /* origin */
    .fs-origin .fs-inr{
        padding: 11.57vw 0 22.037vw 0;
    }
    .fs-origin .fs-inr::after {
        top: 6.85vw;
    }
    .fs-origin .fs-title{
        padding: 0 0 6.481vw 0;
    }
    .origin-box{
        width: 100%;
        padding-bottom: 5.09vw;
    }
    .origin-tab {
        margin-bottom: 6.94vw;
    }
    .origin-tab li:first-child{
        padding: 0 7.407% 0 0;
    }
    .origin-tab li {
        padding: 0 12.78%;
    }
    .origin-tab li:last-child {
        padding: 0 0 0 10.648%;
    }
    .origin-items {
        min-height: 71vw;
    }
    .origin-item{
        padding: 0;
    }
    .origin-item p{
        margin-bottom: 0.925vw;
    }
    .origin-items .fs-pic{
        width: 37.407vw;
        padding-top: 5vw;
    }
    .mission-inr{
        display: block;
        width: 100%;
        text-align: center;
    }
    .mission-box .small-title{
        margin-bottom: 1.3888vw;
    }
    .fs-box-pics .fs-pic{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .o-food {
        width: 40.37vw;
        bottom: 30.5vw;
        right: 17.5vw;
    }
    

    /* .slogan */
    .slogan .fs-inr{
        padding: 11.11vw 0 11.11vw 0;
    }
    .slogan .fs-pic {
        width: 28.148vw;
        margin-bottom: 3.148vw;
    }
    .slogan p {
        font-size: 3.7037vw;
    }
}



