@charset "utf-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li, form, label, table, tbody, thead, tr, th, td, footer,  nav {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	vertical-align:baseline;
}
footer, header, nav {
	display:block;
}
ul{
	list-style:none;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#666;
}
html, body{
	font-family:"Exo";
	font-weight:400;
	font-style:normal;
	font-size:62.5%;
	color:#221f1f;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

h1, h2, h3, h4, h5, h6 {
	font-family:inherit;
	font-size:100%;
	line-height:1.4;
}
p {
	font-family:inherit;
	line-height:1.4;
	font-size:100%;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
}
sup{
	font-size:50%;
	vertical-align:super;
}

.fs-no-scroll {
	height:100%;
    overflow:hidden;
}
.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}


/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-container,
.fs-footer,
.fs-section, 
.header-inr,
.fs-inr,
.footer-inr
.fs-title,
.fs-box {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.fs-page{
	padding-top:120px;
	overflow:hidden;
	max-width:1920px;
	margin:0 auto;
}

.fs-bg,
.fs-pic,
.fs-txt{
	position:relative;
	display:block
}
.fs-pic{
	line-height:0;
}
.fs-bg{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.fs-bg div{
	position:absolute;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.fs-bg::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}
.fs-pic img{	
	width:100%;
}

.fs-pc{
	display:block;
}
.fs-sp {
	display:none;
}


/*HEADER AREA*/
.fs-header{
	position:absolute;
	left:0;
	top:0;
	background-color:#fff;
	z-index:12;
}
.ready .fs-header{
	-webkit-transition:transform 0.3s linear;
	transition:transform 0.3s  linear;
}
.fs-header.fixed{
	position:fixed;
	left:0;
	top:-120px;
	-webkit-transform:translateY(120px);
	transform:translateY(120px);
}
.header-inr{
	position:relative;
	width:90%;
	height:120px;
	margin:0 auto;
	z-index:8;
}
.fs-search-top{
	position:relative;
	top:40px;
	left:14%;
	float:left;
	width:21%;
}
.fs-search-top input{
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #000;
	font-size:1.5rem;
	padding:0 4rem 0 0;
}
.search-top-but{
	position:absolute;
	right:0;
	top:0;
	width:27px;
	height:auto;
	cursor:pointer;
}
.logo{
	position:absolute;
	left:50%;
	top:50%;
	width:16.645%;
	height:auto;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.logo a, .logo img{
	display:block;
	width:100%;
	height:auto;
}

.sticky-inr{
	position:relative;
	top:40px;
	float:right;
}
.nav-inr li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin-left:5rem;
}
.nav-inr li a{
	display:block;
	font-weight:700;
	font-size:1.6rem;
	line-height:40px;
	color:#221f1f;
	text-transform:uppercase;
}
.nav-inr li::after{
	content:'';
	position:absolute;
	right:-3rem;
	top:14px;
	width:2px;
	background-color:#3c3939;
	height:11px;
}
.nav-inr li.has-menu::before{
	content:'';
	position:absolute;
	top:15px;
	right:-13px;
	width:9px;
	height:6px;
	background:url(../images/arrow-down.png) no-repeat center center;
	background-size:cover;
}
.nav-inr li:last-child::after{
	display:none;
}
.ready .nav-inr li a{
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}
.nav-inr li.active a, .nav-inr li:not(.active):hover a {
	color:#00b4d3;
}

.overlay-header{
	position:absolute;
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

.overlay-header.active{
	display:block;
}

/* Submenu */
.fs-menu-item {
	position:absolute;
	top:120px;
	left:0;
	width:100%;
	padding:2.4rem 0 0 0;
	background-color:#fef453;
	z-index:2;
	display:none;
}
.fs-menu-outer {
	width:100%;
	/* max-width:1240px; */
	margin:0 auto;
	/* text-align:right; */
}
.fs-menu-item.active{
	display:block;
}
.fs-menu-item.fs-sp{
	display:none !important;
}
.fs-sub-menu-inr{
	position:relative;
	display:inline-block;
	width:100%;
	max-width:806px;
	margin:0 auto;
}
.fs-sub-menu-inr::after{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	clear:both;
}
.title-item-menu{
	float:left;
	position:relative;
	width:15.678%;
	top:1.4rem;
}
.title-item-menu .fs-txt{
	background:url(../images/arrow-black.png) no-repeat 88% center;
	background-size:17px auto;
	padding:0 30px 0 0;
}
.title-item-menu .fs-txt::after, 
.about-ofood .fs-sub-menu-inr .fs-txt p:after{
	content:'';
	position:absolute;
	bottom:-1.3rem;
	left:0;
	height:0.3rem;
	background-color:#221f1f;
}
.title-item-menu .fs-txt::after{
	width:55.55%;
}
.about-ofood .fs-sub-menu-inr .fs-txt p:after{
	width: 30%;
}
.title-item-menu .fs-txt span{
	font-size:1.6rem;
	font-weight:700;
	text-transform:uppercase;
	color:#221f1f;
	line-height:1.6;
}
.fs-sub-nav{
	position:relative;
	float:right;
	width:84.323%;
}
.about-ofood .fs-sub-nav{
	width: 100%;
}
.fs-sub-menu-inr ul{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.fs-sub-menu-inr ul li{
	flex:0 0 33.333%;
	text-align:center;
	margin-bottom:4.5rem;
}
.about-ofood .fs-sub-menu-inr ul li{
	text-align: left;
	flex: 0 0 auto;
}
.about-ofood .fs-sub-menu-inr ul li .fs-txt{
    margin-right: 100px;
}
.fs-sub-menu-inr ul li a{
	position:relative;
	display:inline-block;
}
.fs-sub-menu-inr ul li .fs-pic{
	width:48px;
	height:51px;
	margin:0 auto 2rem auto;
}
.fs-sub-menu-inr ul li .fs-pic img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}
.fs-sub-menu-inr .fs-txt p{
	font-size:1.2rem;
	font-weight:600;
	text-transform:uppercase;
	color:#302c22;
}	
.about-ofood .fs-sub-menu-inr .fs-txt p{
	font-size: 1.6rem;
    font-weight: 700;
    color: #221f1f;
    line-height: 1.6;
}
.fs-menu-outer .fs-sub-menu-inr{
	left:5rem;
	margin-left:1rem;
}
.fs-menu-outer .title-item-menu .fs-txt{
	text-align:left;
}


.footer-top .fs-menu-item{
	position:relative;
	top:auto;
	padding:2.4rem 0 0 15.5rem;
}
.footer-top .fs-sub-menu-inr{
	position:relative;
	display:inline-block;
	width:100%;
	max-width:806px;
}

/*Home Page*/
.hide-controls .swiper-pagination, .hide-controls .swiper-button-prev, .hide-controls .swiper-button-next {
	display:none;
}
.banner-slider{
	width:100%;
	height:auto;
}
.item-slide{
	position:relative;
	width:100%;
	height:auto;
}
.item-slide a{
	display:block;
}
.fs-banner .swiper-pagination{
	width:100%;
	bottom:36px;
}
.fs-banner .swiper-button-next{
	right:16%;
}
.fs-banner .swiper-button-prev{
	left:16%;
}
.product-video .fs-inr{
	max-width:1340px;
	margin:0 auto;
	padding:110px 0;
	border-top:1px solid #fff;
}
.play-but {
	position:absolute;
	left:50%;
	top:50%;
	width:64px;
	height:64px;
	background-color:#221f1f;
	-webkit-transform:translate(-32px,-32px);
	transform:translate(-32px,-32px);
	-webkit-border-radius:50%;
	border-radius:50%;
	z-index:2;
	cursor:pointer;
	-webkit-transition:box-shadow 0.3s ease-in-out;
	transition:box-shadow 0.3s ease-in-out;
}
.play-but img{
	position:relative;
	left:4px;
}
.play-but:hover{
	-webkit-box-shadow:0 0 60px #fff;
	box-shadow:0 0 60px #fff;
}


.product-tab{
	position:absolute;
	width:100%;
	height:auto;
	left:0;
	top:0;
	text-align:center;
	z-index:2;
}
.product-tab .swiper-button-prev, .product-tab .swiper-button-next{
	display:none;
}
.product-tab-inr{
	position:relative;
	display:inline-block;
	width:auto;
	padding:15px 0;
	margin:0 auto;
	background-color:#fef453;
	-webkit-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
	text-align:center;
	font-size:0;
}
.product-recipe .product-tab-inr{
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.product-tab .swiper-slide{
	background-color:transparent;
	display:inline-block;
	width:240px;
	cursor:pointer;
	padding:0 4rem;
}
.product-tab.is-pc .swiper-wrapper{
	display:block;
	text-align:center;
}
.product-tab .fs-box{
	display:block;
	width:100%;
	height:auto;
}
.product-tab .fs-box a{
	display:block;
}
.product-tab .swiper-slide::after{
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:2px;
	height:100%;
	background-color:#221f1f;
}
.product-tab .swiper-slide:last-child::after{
	display:none;
}
.product-tab .fs-pic, .product-tab .fs-txt{
	display:inline-block;
	vertical-align:middle;
}
.product-tab .fs-pic {
	width:46px;
	height:56px;
	line-height:56px;
	margin-right:0.5rem;
	text-align:center;
}
.product-tab .fs-pic img{
	width:auto;
	height:auto;
	vertical-align:middle;
	max-width:100%;
	max-height:100%;
}
.product-tab .fs-txt p {
	font-size:1.2rem;
	font-weight:700;
	text-transform:uppercase;
	color:#302c22;
	text-align:left
}
.product-tab .fs-txt{
	width:auto;
	max-width:calc(100% - 60px);
} 

/*FORM*/
.fs-hide-label{
	display:block;
	font-size:0;
	line-height:0;
}

.ready .fs-but{
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.ready .fs-but:hover{
	opacity:0.5;
}

/*FOOTER AREA*/
.fs-footer{
	padding:13rem 0;
}
.footer-inr{
	position:relative;
	width:100%;
	max-width:1240px;
	margin:0 auto;
}
.footer-inr .nav-inr{
	margin-bottom:3rem;
}
.is-logo{
	padding:4.4rem 0;
}
.is-logo a{
	width:20.645%;
	margin:0 auto;
	display:block;
}
.fs-social{
	padding:2.5rem 0;
	border-top:1px solid #a7a9ac;
	border-bottom:1px solid #a7a9ac;
	text-align:center;
}
.fs-social li {
	display:inline-block;
	width:auto;
	height:auto;
	vertical-align:middle;
	margin:0 1.4rem;
}
.fs-social li a{
	display:block;
}
.miwon-box{
	padding-top:3rem;
	margin-bottom:4.8rem;
}
.miwon-box a{
	display:block;
	width:54%;
}
.footer-bot .fs-box{
	float:left;
}
.miwon-logo, .office{
	width:25%;
	margin-right:4%;
}
.operating-hours, .branch{
	width:39.516129%;
	margin-right:4%;
}
.office p a{
	color:#221f1f;
}
.office p > a:nth-child(4){
	margin-right:5px;
}
.operating-hours{
	top:7.5rem;
}
.footer-bot .operating-hours p {
	margin:0;
	line-height:1.4;
}
.certificate{
	width:27.42%;
}
.miwon-box img{
	width:auto;
	max-width:100%;
}

.footer-bot p {
	font-size:1.6rem;
	margin-bottom:1rem;
	line-height:1.8;
}
.footer-bot p strong{
	font-weight:700;
}
.fs-footer .nav-inr li{
	margin-left:0;
	margin-right:6.4rem;
}
.to-top{
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:50px;
	background:url(../images/top.png) no-repeat center center;
	background-size:cover; 
	cursor:pointer;
	-webkit-border-radius:50%;
	border-radius:50%;
	z-index:2;
	-webkit-transition:box-shadow 0.3s ease-in-out;
	transition:box-shadow 0.3s ease-in-out;
}
.to-top:hover {
	box-shadow:0 0 60px #fef453;
}

/*Slider*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;
    z-index:1;
  }
  .swiper-wrapper {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:transform;
    transition-property:transform;
    transition-property:transform, -webkit-transform;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    -webkit-transform:translate3d(0px, 0, 0);
    transform:translate3d(0px, 0, 0);
  }
  .swiper-slide {
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	width:100%;
	height:100%;
	position:relative;
	-webkit-transition-property:-webkit-transform;
	transition-property:-webkit-transform;
	-o-transition-property:transform;
	transition-property:transform;
	transition-property:transform, -webkit-transform;
	background-color:#fff;
  }
  .swiper-button-prev, .swiper-button-next {
		position:absolute;
		top:50%;
		width:30px;
		height:auto;
		z-index:10;
		cursor:pointer;
		background-position:center;
		background-repeat:no-repeat;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
}
.swiper-button-prev::before, .swiper-button-next::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:100%;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image:url(../images/prev.png);
	left:3%;
	right:auto;
	background-size:cover;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image:url(../images/next.png);
	right:3%;
	left:auto;
	background-size:cover;
}
.swiper-pagination {
    position:absolute;
    text-align:center;
    -webkit-transition:300ms opacity;
    -o-transition:300ms opacity;
    transition:300ms opacity;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    z-index:10;
  }
  .swiper-pagination-bullet {
		position:relative;
		width:16px;
		height:16px;
		display:inline-block;
		margin:0 5px;
	}
	.swiper-pagination-bullet::before{
		content:'';
		position:absolute;
		left:3px;
		top:3px;
		width:10px;
		height:10px;
		background-color:#fff;
		-webkit-border-radius:50%;
		border-radius:50%;
	}
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor:pointer;
  }
  .swiper-pagination-bullet-active::before {
		background-color:#fef453;
  }
  .swiper-container-fade .swiper-slide {
    pointer-events:none;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity;
  }
  .swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events:none;
  }
  .swiper-container-fade .swiper-slide-active,
  .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events:auto;
  }

.fs-privacy .fs-irn{
	position:relative;
	display:block;
	max-width:1440px;
	padding:40px 3% 0 3%;
	margin:0 auto;
	height:auto;
}

/*SELECT LIST*/
.fs-select{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}
.fs-select-header {
    position:relative;
    display:block;
    height:48px;
    padding:0 10px 0 10px;
	line-height:44px;
	border:1px solid #808080;
	-webkit-border-radius:5px;
    border-radius:5px;
	cursor:pointer;
	z-index:2;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-header span {
	display:inline-block;
	vertical-align:middle;
	width:auto;
	line-height:1.4;
	max-width:100%;
	font-size:14px;
	color:#313131;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	min-width:140px;
	height:auto;
	margin:2px 0 0 0;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-select-box ul{
	position:relative;
	display:block;
	max-height:350px;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-select-box li {
	position:relative;
	display:block;
	font-size:14px;
	color:#313131;
	margin-bottom:1px;
	border-bottom:1px solid#ddd;
	padding:10px;
	text-align:center;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-box li span{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:22px;
	height:22px;
	margin:0 7px 0 0;
	overflow:hidden;
}
.fs-select-box li.selected, .fs-select-box li:not(.selected):hover {
	background-color:#00b4d3;
	color:#fff;
}
.fs-open-select .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s;
}
.fs-select-header::after{
    content:'';
    position:absolute;
    right:18px;
    top:20px;
    width:12px;
    height:7px;
    background:url(../images/arrow-down-select.png) no-repeat center center;
    background-size:100% auto;
}





@media screen and (min-width:1100px) { 
	.open-overlay{
		height:100%;
		overflow:hidden;
	}
	.open-overlay .overlay-header{
		display:block;
	}
}

/*RESPONSIVE*/
@media screen and (max-width:1700px) { 
	.logo, .fs-search-top, .sticky-inr{
		position:relative;
		top:auto;
		float:none;
		left:auto;
		display:inline-block;
		vertical-align:middle;
		-webkit-transform:none;
		transform:none;
	}
	.header-inr{
		text-align:right;
		line-height:120px;
	}
	.logo{
		margin:0 1rem 0 5.4rem;
	}
}

@media screen and (max-width:1380px) { 
	.product-video .fs-inr {
			max-width:1100px;
	}
	.product-video .fs-inr{
			padding:80px 0;
	}
	.product-tab .swiper-slide{
		width:220px;
	}
	.product-tab .swiper-slide{
		padding:0 2rem;
	}
	.fs-menu-outer .fs-sub-menu-inr{
		margin-left:1.8rem;
	}
	.about-ofood .fs-menu-outer .fs-sub-menu-inr{
		margin-left: 0.5rem;
	}

}

@media screen and (max-width:1300px) { 
	.footer-inr{
		max-width:1100px;
	}
	.logo{
		margin:0 0 0 4rem;
	}
	.nav-inr li{
		margin-left:4rem;
	}
	.footer-top .fs-menu-item{
		padding:2.4rem 0 0 13.5rem;
	}

	/* .fs-menu-outer{
		max-width:1100px;
	} */
	.fs-menu-outer .fs-sub-menu-inr{
		max-width:660px;
		left:2rem;
	}
	.fs-menu-outer .title-item-menu{
		width:20%;
	}
	.fs-menu-outer .fs-sub-nav{
		width:80%;
	}
	.about-ofood .fs-menu-outer .fs-sub-nav{
		width: 100%;
	}
	.fs-footer .nav-inr li{
		margin-right:5.55rem;
	}
	.nav-inr li a, .footer-bot p{
		font-size:1.4rem;
	}
	.fs-page{
		padding-top:100px;
	}
	.header-inr{
		height:100px;
		line-height:100px;
	}
	.fs-header.fixed{
		top:-100px;
		-webkit-transform:translateY(100px);
		transform:translateY(100px);
	}
	.fs-menu-item{
		top:100px;
	}
	.fs-footer{
		padding:8rem 0;
	}
	.miwon-box{
		margin-bottom:4rem;
	}
	.operating-hours{
		top:6.7rem;
	}
}

@media screen and (max-width:1150px) { 
	.product-tab .swiper-slide{
		width:200px;
		padding:0 1rem;
	}
	.header-inr, .footer-inr{
		width:90%;
	}
	.nav-inr li a, .footer-bot p{
		font-size:1.3rem;
	}
	.footer-top .fs-menu-item{
		padding:2.4rem 0 0 13rem;
	}

	.product-video .fs-inr {
			max-width:1000px;
	}

	
	.fs-menu-outer{
		max-width:1100px;
	}
	.about-ofood .fs-menu-outer{
		max-width: initial;
	}
	.fs-menu-outer .fs-sub-menu-inr{
		max-width:600px;
		left:-3.8rem;
	}
	.fs-menu-outer .title-item-menu{
		width:20%;
	}
	.fs-menu-outer .fs-sub-nav{
		width:80%;
	}

	.operating-hours {
		top:6rem;
	}

}


@media screen and (max-width:1100px) { 
	/*Common*/
	.fs-pc{
		display:none !important
	}
	.fs-sp{
		display:block !important;
	}

	.open-menu{
		height:100%;
    overflow:hidden;
	}
	.search-toggle{
		position:absolute;
		top:76px;
		left:3.7%;
		width:54px;
		background:url(../images/icon-search.png) no-repeat center center;
		background-size:100% auto;
		cursor:pointer;
	}
	.search-toggle::before{
		content:'';
		position:relative;
		display:block;
		width:100%;
		height:auto;
		padding-top:120.37%;
	}
	.fs-search-top {
		position:absolute;
		top:110px;
		width:100%;
		padding:0 3.7%;
		display:none;
	}
	.fs-search-top.active .fs-hide-label{
		display:block;
	}
	.fs-search-top input{
		width:100%;
		height:80px;
		background-color:#fff;
		line-height:initial;
		padding:5px 15px;
		border:none;
		-webkit-border-radius:0;
		border-radius:0;
		font-size:1.6rem;
	}
	.logo {
		position:absolute;
		width:51.759%;
		left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
		z-index:2;
		margin:0;
	}
	.fs-page{
		padding-top:220px;
	}
	.header-inr {
		width:100%;
		height:220px;
		line-height:initial;
	}
	.fs-header.fixed{
		top:-220px;
		-webkit-transform:translateY(220px);
		transform:translateY(220px);
	}
	.nav-but {
		position:absolute;
		top:85px;
		right:3.7%;
		width:6.3rem;
		height:5rem;
		cursor:pointer;
	}
	.nav-but span{
		position:relative;
		display:block;
		width:100%;
		height:6px;
		background-color:#221f1f;
		margin-bottom:17px;
		-webkit-transition:all .3s linear;
		transition:all .3s linear; 
	}
	.open-menu  .nav-but{
		right:auto;
		left:3.7%;
	}
	.nav-but span:last-child{
		margin-bottom:0;
	}
	.open-menu .nav-but span:first-child{
		-webkit-transform:translateY(23px) rotate(45deg);
		transform:translateY(23px) rotate(45deg);
	}
	.open-menu .nav-but span:nth-child(2){
		opacity:0;
	}
	.open-menu .nav-but span:last-child{
		-webkit-transform:translateY(-22.6px) rotate(-45deg);
		transform:translateY(-22.6px) rotate(-45deg);
	}
	.sticky-inr{
		position:absolute;
		right:0;
		top:0;
		width:100%;
		height:100vh;
		background-color:#fef453;
		box-shadow:0 0 20px rgba(0,0,0,0.3);
		padding:23rem 0 0 0;
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
	}
	.ready .sticky-inr{
		-webkit-transition:transform 0.3s ease-in-out;
		transition:transform 0.3s ease-in-out;
	}
	.fs-navigation{
		height:calc(100vh - 30rem);
		padding-bottom:23rem;
		overflow:hidden;
		overflow-y:auto;
		-webkit-overflow-scrolling:touch;
	}
	.fs-navigation{
		border-top:2px solid #312d22;
	}
	.open-menu .search-toggle{
		opacity:0;
		visibility:hidden;
	}
	.open-menu .sticky-inr{
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	.fs-navigation{
		position:relative;
		display:block;
		padding:0 3.7% 10rem 3.7%;
	}
	.nav-inr{
		position:relative;
		display:block;
		text-align:center;
	}
	.nav-inr li{
		display:block;
		padding:6rem 0;
		border-bottom:2px solid #000;
		background:url(../images/arrow-menu-next.png) no-repeat 95% center;
	}
	.nav-inr li, .nav-inr li.has-menu{
		margin:0;
	}
	.nav-inr li.has-menu::before, .nav-inr li::after{
		display:none;
	}
	.nav-inr li.has-menu{
		background:url(../images/arrow-menu-down.png) no-repeat 95% 75px;
	}
	.nav-inr li a {
		font-size:4.8rem;
		font-weight:800;
		line-height:initial;
	}
	.fs-menu-item.fs-sp.active{
		display:block !important;
	}
	.fs-menu-item{
		position:relative;
		left:auto;
		top:auto;
		background-color:transparent;
	}
	.fs-sub-menu-inr{
		max-width:inherit;
	}
	.fs-sub-nav{
		float:none;
		width:100%;
	}
	.fs-sub-menu-inr ul{
		display:block
	}
	.fs-sub-menu-inr ul li{
		display:block;
		flex:none;
		margin:0;
		border:none;
		padding:3rem 0;
	}
	.fs-sub-menu-inr .fs-txt p{
		font-size:2.4rem;
		color:#221f1f;
	}
	.about-food .fs-sub-menu-inr .fs-txt p{
		font-size: 3.333vw;
	}
	.fs-sub-menu-inr ul li .fs-pic{
		width:auto;
		height:auto;
		margin:0 auto 0.7rem auto;
	}
	.open-search .fs-header{
		background-color:#fef454;
	}
	.open-search .search-toggle{
		top:2.6rem;
		background:url(../images/icon-close-search.png) no-repeat center center;
		background-size:100% auto;
	}
	.open-search .search-toggle::before{
		padding-top:100%;
	}
	.open-search .fs-search-top{
		display:block;
	}
	.search-top-but {
		right:60px;
		top:16px;
		width:40px;
	}
	.open-search .logo, .open-search .nav-but{
		opacity:0;
		visibility:hidden;
	}
	
	.open-search .overlay-header{
		display:block;
	}

	.fs-footer{
		padding:0;
	}
	.to-top{
		width:60px;
		height:60px;
		top:5%;
		right:5%;
	}
	.footer-inr {
		width:100%;
	}
	.footer-top{
		padding:10rem 0 5.6rem 0;
	}
	.is-logo a{
		width:38%;
	}
	.fs-social{
		padding:4.6rem 0;
	}
	.footer-bot{
		padding:0 8.8%;
	}

	.footer-bot .fs-box{
		float:none;
	}
	.miwon-box{
		margin:0;
		padding:0;
		width:50%;
	}
	.miwon-logo, .office, .office, .operating-hours, .branch, .certificate, .operating-hours{
		width:100%;
		margin-bottom:5.5rem;
		padding:0;
	}
	.miwon-box a {
		width:62%;
	}
	.footer-bot p{
		font-size:2.4rem;
	}

	/* Tab */
	.product-tab .swiper-button-prev, .product-tab .swiper-button-next{
		display:block;
		width: 3.888vw;
	}
	.product-tab.is-pc .product-tab-inr{
		width:auto;
	}
	.product-tab.is-pc .tab-slider{
		width:100%;
	}
	.product-tab.is-pc .swiper-slide{
		width:auto;
		padding:0 2rem;
	}
	.product-tab.is-pc .swiper-button-prev, .product-tab.is-pc .swiper-button-next, .product-tab.is-pc .tab-slider::before, .product-tab.is-pc .tab-bot-slider::before{
		display:none;
	}
	
	.product-tab-inr{
		width:51.8518vw;
		padding:1.111vw 0;
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}
	.product-tab .swiper-slide{
		width:100%;
	}
	.product-tab .fs-pic{
		width:5.5555vw;
		height:5.2777vw;
		line-height:5.2777vw;
		margin-right: 0.462vw;
	}
	.product-tab .fs-txt p{
		font-size:1.481481vw;
	}
	.tab-slider{
			width:80%;
	}
	.tab-slider::before, .tab-bot-slider::before{
		content:'';
		position:absolute;
		left:50%;
		top:0;
		width:2px;
		height:100%;
		border-left:1px solid #221f1f;
		border-right:1px solid #706a31;
	}
	.product-tab .swiper-slide{
			padding:0;
	}
	.product-tab .swiper-slide::after{
		display:none;
	}
	.product-tab .fs-txt{
			max-width:inherit;
	}
	.product-tab .swiper-button-prev{
			background:url(../images/prev-black.png) no-repeat center center;
	}
	.product-tab .swiper-button-next{
			background:url(../images/next-black.png) no-repeat center center;
	}


	/* Video */
	.product-video .fs-inr{
		width:100%;
		max-width:inherit;
		padding:0;
		border:none;
	}


	/* Section Video */
	.play-but {
		width:53px;
		height:53px;
	}

	.ready .fs-but{
		-webkit-transition:none;
		transition:none;
	}
	.ready .fs-but:hover{
		opacity:1;
	}


	.operating-hours {
		top:auto;
	}
	
}

@media screen and (max-width:840px) { 
	.fs-page{
		padding-top:80px;
	}
	.header-inr{
		height:80px;
	}
	.fs-header.fixed{
		top:-80px;
		-webkit-transform:translateY(80px);
		transform:translateY(80px);
	}
	.logo {
		width:30%;
	}
	.search-toggle{
		top:24px;
		width:30px;
	}
	.open-search .search-toggle {
		top:14px;
	}
	.nav-but{
		top:24px;
		width:40px;
		height:32px;
	}
	.nav-but span{
		height:3px;
		margin-bottom:12px;
	}
	.open-menu .nav-but span:first-child{
		-webkit-transform:translateY(15px) rotate(45deg);
		transform:translateY(15px) rotate(45deg);
	}
	.open-menu .nav-but span:last-child{
		-webkit-transform:translateY(-15px) rotate(-45deg);
		transform:translateY(-15px) rotate(-45deg);
	}
	.fs-search-top {
		top:80%;
		padding-bottom:14px;
		background-color:#fef454;
	}
	.search-top-but {
    right:42px;
    top:7px;
    width:22px;
	}
	.fs-search-top input{
		height:40px;
		font-size:1.3rem;
	}
	
	.sticky-inr{
		padding:10rem 5%;
	}
	.fs-navigation{
		height:calc(100vh - 12rem);
	}
	.nav-inr li{
		padding:3.5rem 0;
		background-size:26px auto;
	}
	.nav-inr li.has-menu{
		background-size:26px auto;
		background-position:95% 42px;
	}
	.nav-inr li a {
		font-size:3rem;
	}
	.fs-sub-menu-inr .fs-txt p{
		font-size:2rem;
	}
	.about-food .fs-sub-menu-inr .fs-txt p{
		font-size: 2.2rem;
	}
	.fs-sub-menu-inr ul li .fs-pic img{
		max-width:48px;
		max-height:80px;
	}
	.fs-sub-menu-inr ul li{
		padding:1.5rem 0;
	}


	.footer-top{
		padding:8rem 0 4.6rem 0;
	}
	.miwon-box a {
		width:66%;
	}
	.to-top{
		width:40px;
		height:40px;
	}
	.is-logo{
		padding:0 0 3.6rem 0;
	}
	.is-logo a{
		width:28%;
	}
	.fs-social{
		padding:3.6rem 0;
	}
	.miwon-logo, .office, .office, .operating-hours, .branch, .certificate, .operating-hours{
		margin-bottom:4rem;
	}
	.footer-bot p{
		font-size:2rem;
	}

	/* Video */
	.play-but {
		width:45px;
		height:45px;
	}


}

@media screen and (max-width:840px) and (orientation:landscape){ 
	.nav-inr li{
		margin-bottom:3rem;
	}

	.miwon-box a {
		width:72%;
	}

	.product-tab .swiper-button-prev,
	.product-tab .swiper-button-next{
			width:28px;
			background-size:cover;
	}

}

@media screen and (max-width:700px) { 
    /* .product-tab-inr{
        padding:8px 0;
    }
    .product-tab .fs-pic{
        width:40px;
        height:48px;
        line-height:48px;
    }
    .product-tab .fs-txt p{
        font-size:1.3rem;
	} */

}

@media screen and (max-width:640px) { 
		
	.miwon-box a {
		width:88%;
	}
}

@media screen and (max-width:520px) { 
	.fs-page{
		padding-top:60px;
	}
	.header-inr{
		height:60px;
	}
	.fs-header.fixed{
		top:-60px;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	.logo{
		width:38%;
	}
	.search-toggle{
		width:24px;
		top:17px;
	}
	.search-top-but{
		right:28px;
	}
	.nav-but{
		top:18px;
		width:30px;
		height:24px;
	}
	.nav-but span{
		height:2px;
    margin-bottom:9px;
	}
	.open-menu .nav-but span:first-child{
		-webkit-transform:translateY(11px) rotate(45deg);
		transform:translateY(11px) rotate(45deg);
	}
	.open-menu .nav-but span:last-child{
		-webkit-transform:translateY(-11px) rotate(-45deg);
		transform:translateY(-11px) rotate(-45deg);
	}

	.sticky-inr{
		padding:7rem 5%;
	}
	.fs-navigation{
		height:calc(100vh - 9rem);
		padding:0 3.7% 10rem 3.7%;
	}
	.nav-inr li{
		padding:2rem 0;
		background-size:18px auto;
		background-position:100% center;
	}
	.nav-inr li.has-menu{
		background-size:18px auto;
		background-position:100% 25px;
	}
	.nav-inr li a {
		font-size:2.2rem;
	}
	.fs-sub-menu-inr ul li .fs-pic img{
		max-width:36px;
		max-height:50px;
	}
	.fs-sub-menu-inr ul li{
		padding:1rem 0;
	}
	.fs-sub-menu-inr .fs-txt p{
		font-size:1.4rem;
	}
	.about-food .fs-sub-menu-inr .fs-txt p{
		font-size: 1.8rem;
	}
	/* .product-tab-inr{
		padding:4px 0;
	}
	.product-tab .fs-pic{
			width:26px;
			height:32px;
			line-height:32px;
	}
	.product-tab .fs-txt p{
			font-size:1.1rem;
	} */
	.product-tab .swiper-button-prev,
	.product-tab .swiper-button-next{
			width:14px;
			background-size:cover;
	}
	.tab-slider::before, .tab-bot-slider::before {
		width: 1px;
		border-right: none;
	}
	

	.footer-top{
		padding:8rem 0 3rem 0;
	}
	.is-logo{
		padding:0 0 3rem 0;
	}
	.is-logo a{
		width:36%;
	}
	.fs-social{
		padding:2rem 0;
	}
	.fs-social li:first-child img{
		width:14px;
	}
	.fs-social li:last-child img{
		width:32px;
	}
	.miwon-logo, .office, .office, .operating-hours, .branch, .certificate, .operating-hours{
		margin-bottom:3rem;
	}
	.miwon-box a {
		width:86%;
	}
	.footer-bot p{
		font-size:1.4rem;
	}
	


	/* Video */
	.play-but {
		width:36px;
		height:36px;
		-webkit-transform:translate(-16px,-16px);
		transform:translate(-16px,-16px);
	}
}


@media screen and (max-width:390px) { 
	/* .product-tab-inr{
		padding:5px 0;
	}
	.product-tab .fs-pic{
			width:26px;
			height:31px;
			line-height:32px;
	}
	.product-tab .fs-txt p{
			font-size:1.1rem;
	} */

	.miwon-box a {
		width:93%;
	}
}

@media screen and (max-width:350px) { 
	/* .product-tab .fs-txt p{
			font-size:0.9rem;
	} */
	.miwon-box {
		width:53%;
	}
	.miwon-box a {
		width:100%;
	}
}
